<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="http://code.highcharts.com/4.1.8/highcharts.js"></script>
        <script src="http://code.highcharts.com/4.1.8/modules/exporting.js"></script>
    </head>
    <body>
        <a href="{{ path('homepage') }}">Home</a> | <a href="{{ path('stock') }}">Stocks</a> | <a href="{{ path('portfolio') }}">Portfolio</a> | <a href="{{ path('portfoliostock') }}">Manage Portfolio</a>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
